venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.cache
*.log

.env
*.env

pip-log.txt
pip-delete-this-directory.txt
Pipfile
Pipfile.lock

instance/
logs/
coverage.xml

postgres_data/
minio_data/

docker-compose.override.yml
.dockerignore
*.swp
*.swo

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

node_modules/
npm-debug.log
yarn-error.log

dist/
build/
